<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%if(user){%>
    <div>Welcome back <%=user.userName %> <a href="logout">Logout</a></div>
    <div class="shortenURL">
      <a href="/generateLinks">Generate a Short URL.</a>
      <a href="/submitLinks">Add Custom short URL.</a>
    </div>
    <div class="links">
      <%if(links){ %> LINKS :
      <ul>
        <% for(let link of links){ %>
        <li>
          <div class="full">
            <a href="<%=link.fullURL%>"><%=link.fullURL%></a>
          </div>
          <div class="short">
            <a href="<%=link.shortURL%>/shortURL"><%=link.shortURL%></a>
          </div>
          <div class="clicks"><%=link.clicks%></div>
          <div class="delete">
            <a href="<%=link.id%>/delete">Delete</a>
          </div>
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
    <%}else{%>
    <div class="nav">
      <h1>Shrinkr</h1>
      <div class="linksHeader">
        <a href="login">Login</a> <a href="signup">Sign Up</a>
      </div>
    </div>
    <div class="homeContent">
      <p>
        A simple and efficient way to shrink and manage your favorite URLs.
        <a href="signup">Sign Up</a> Now to get started.
      </p>
      <ul>
        <li>
          Easy to use. Just paste the URL in the form and click on generate to
          randomly generate a short URL.
          <div class="img"></div>
        </li>
        <li>
          Give a name of your choosing by pasting it in the form and submit the
          form. Easy and convenient.
          <div class="img"></div>
        </li>
        <li>
          Secured using passport.js so that your data stays secure no matter
          what.
          <div class="img"></div>
        </li>
      </ul>
    </div>
    <div class="footer">
      Made By <a href="https://github.com/amardeeep"> Amardeep</a>
    </div>
    <%}%>
  </body>
</html>
