<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <%if(user){%>
    <div class="greetings"></div>
    <div class="shortenURL">
      <a href="/generateLinks">Generate a Short URL.</a>
      <a href="/submitLinks">Add Custom short URL.</a>
    </div>
    <div class="links">
      <%if(links){ %> LINKS :
      <ul>
        <% for(let link of links){ %>
        <li>
          <div class="full">
            <a href="<%=link.fullURL%>"><%=link.fullURL%></a>
          </div>
          <div class="short">
            <a href="<%=link.shortURL%>"><%=link.shortURL%></a>
          </div>
          <div class="clicks"><%=link.clicks%></div>
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
    <%}else{%>
    <div class="nav"></div>
    <div class="homeContent"></div>
    <div class="footer"></div>
    <%}%>
  </body>
</html>
